# === Eclipse Specific Files ===
.metadata/
.classpath
.project
.settings/
.factorypath
bin/
*.tmp
*.bak
*.swp
*~
.loadpath

# === Maven Build Outputs ===
target/
*.jar
*.war
*.ear
*.nar
*.rar

# === Maven Temporary / Plugin Files ===
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# === System Files ===
.DS_Store
Thumbs.db
desktop.ini
*.log